@media only screen and (max-width: 600px) {
.article{
    display: flex ;
    justify-content: flex-start;
    flex-direction: column;
}

    .caja3{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
        
    }
    #box1{
        background-color: rgb(5, 5, 99);
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #box2{
        background-color: rgb(52, 52, 139);
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #box3{
        background-color: rgb(179, 179, 247);
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .prueba3{
        text-align: center;
        margin: 0;
      padding: 0;
    }
    .caja2{
        display: none;
    }
    .caja1{
        display: none;
    }
    .prueba1{
        display: none;
    }
    .prueba2{
        display: none;
    }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {

.caja2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    margin-top: 150px;
    
}
#box4{
    background-color: rgb(223, 59, 182);
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#box5{
    background-color: rgb(250, 10, 10);
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#box6{
    background-color: rgb(99, 4, 4);
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.prueba2{
    text-align: center;
    margin: 0;
    padding: 0;
}
.caja1{
    display: none;
}
.caja3{
    display: none;
}
.prueba1{
    display: none;
}
.prueba3{
    display: none;
}
}
@media only screen and (min-width: 901px) {
    
  
    .caja1{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 0;
        margin-top: 300px;
    }
    #box7{
        background-color: rgb(0, 71, 36);
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #box8{
        background-color: rgb(0, 134, 34);
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #box9{
        background-color: rgb(61, 255, 119);
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .prueba3{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .caja2{
        display: none;
    }
    .caja3{
        display: none;
    }
    .prueba1{
        display: none;
    }
    .prueba2{
        display: none;
    }
}